body {
   padding-top: 2rem;
   padding-bottom: 2rem;
}

h3 {
   margin-top: 2rem;
}

.row {
   margin-bottom: 1rem;
}

.row .row {
   margin-top: 1rem;
   margin-bottom: 0;
}

[class*="col-"] {
   padding-top: 1rem;
   padding-bottom: 1rem;
   background-color: rgba(86, 61, 124, .15);
   border: 1px solid rgba(86, 61, 124, .2);
}

hr {
   margin-top: 2rem;
   margin-bottom: 2rem;
}

body {
   background-image: linear-gradient(#222, #120515);
   color: #eee;
   font-family: 'Nunito Sans', sans-serif;
}

h1 {
   text-align: center;
   font-size: 3em;
   margin-bottom: 1em;
}

h2 {
   text-align: right;
   margin-bottom: -1em;
   margin-right: 4px;
}

h3 {
   margin: 0;
   padding: 0;
}

p {
   padding-top: 3px;
   text-align: right;
   margin-bottom: 0px;
}

hr {
   width: 70%;
   background-color: #333;
   margin-top: 15px;
   margin-bottom: 15px;
}

.tx {
   text-align: left;
}

.tc-h {
   text-align: center;
}

.row {}

.invis {
   visibility: hidden;
}

[class*="col-"] {
   border-radius: 4px;
}

.row .row {
   margin-left: -11px;
   margin-bottom: -11px;
   margin-right: -11px;
}

.its>* {}

input {
   width: 95%;
   background-color: #444;
   color: #ccc;
   border-color: #382d47;
   text-align: left;
   padding-left: 4px;
}

.butt {
   display: flex;
   justify-content: center;
}

.btn {
   color: #fff;
   background-color: #333;
}

.sml {
   width: 100%;
}

.bg {
   font-size: 200%;
}

.xpl {
   color: #aaa;
}

h4 {
   color: #888;
   text-align: center;
   margin-top: 3em;
}